<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hongyu_shandian_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,550}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{142,550}}</string>
                <key>sourceSize</key>
                <string>{200,550}</string>
            </dict>
            <key>hongyu_shandian_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{166,550}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{166,550}}</string>
                <key>sourceSize</key>
                <string>{200,550}</string>
            </dict>
            <key>hongyu_shandian_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{138,550}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{138,550}}</string>
                <key>sourceSize</key>
                <string>{200,550}</string>
            </dict>
            <key>hongyu_shandian_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{200,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,550}}</string>
                <key>sourceSize</key>
                <string>{200,550}</string>
            </dict>
            <key>hongyu_shandian_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,554},{184,550}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{184,550}}</string>
                <key>sourceSize</key>
                <string>{200,550}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RedFishLineFrame.png</string>
            <key>size</key>
            <string>{454,1106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:769f339fbc01ae1f688246654c403941:1/1$</string>
            <key>textureFileName</key>
            <string>RedFishLineFrame.png</string>
        </dict>
    </dict>
</plist>
